<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  <title>About Aushadhi Buddy</title>
</head>

<body>
    <nav>
        <ul>
          <li><a href="/">ChatBot</a></li>
          <li><a href="map.html">Nearby Hospitals</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
  <div class="container">
    <h1>About Aushadhi Buddy</h1>
    <p>
      Aushadhi Buddy is a friendly chatbot that helps you identify your symptoms
      and provides predictions on potential health conditions based on the
      symptoms you describe. The chatbot uses advanced algorithms and machine
      learning to provide accurate predictions and suggestions for medical
      conditions. Aushadhi Buddy aims to make healthcare information more
      accessible and assist users in seeking appropriate medical advice.
    </p>
    <p>
      Our mission is to improve the health and well-being of individuals by
      leveraging technology and data-driven solutions. Aushadhi Buddy is not a
      substitute for professional medical advice, diagnosis, or treatment. It is
      essential to consult with qualified healthcare professionals for
      personalized medical guidance.
    </p>
  </div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="footer-text">&copy; 2022 Aushadhi Buddy. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <p class="footer-text">Developed by <a href="https://github.com/16kush" target="_blank" class="developer-link">Kush Shah</a></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
